*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    transition:0.4s;
}

.container{
    text-align:center;
}

h1,h2,#status{
    color:white;
    margin-bottom:15px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
    gap:20px;
}

.score{
    color:white;
    font-size:20px;
    font-weight:bold;
}

#board{
    display:grid;
    grid-template-columns:repeat(7,70px);
    gap:6px;
    background:#2563eb;
    padding:12px;
    border-radius:12px;
}

.cell{
    width:70px;
    height:70px;
    background:white;
    border-radius:50%;
    cursor:pointer;
    animation:drop .3s ease;
}

.red{
    background:red;
}

.yellow{
    background:yellow;
}

@keyframes drop{
    from{
        transform:translateY(-50px);
    }
    to{
        transform:translateY(0);
    }
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.restart-btn{
    margin-top:20px;
    background:#22c55e;
    color:white;
    font-size:16px;
}

.light-mode{
    background:linear-gradient(135deg,#f8fafc,#cbd5e1);
}

.light-mode h1,
.light-mode h2,
.light-mode #status,
.light-mode .score{
    color:black;
}